:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f4f4f4;
}

html, body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card {
  padding: 2em;
}

#app {
  display: contents;
}
